<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand cursor">Recipe book</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav" *ngIf="userAuthenticated">
        <li routerLinkActive="active">
          <a href [routerLink]="['/recipes']">Recipes</a>
        </li>
        <li routerLinkActive="active">
          <a href [routerLink]="['/shopping-list']">Shopping list</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right" *ngIf="!userAuthenticated">
        <!-- Auth -->
        <li routerLinkActive="active">
          <a href [routerLink]="['/auth']">Login</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right" *ngIf="userAuthenticated">
        <!-- Logout -->
        <li>
          <a (click)="onLogout()" class="cursor">Logout</a>
        </li>

        <!-- Manage data dropdown -->
        <li class="dropdown" appDropdown>
          <a class="dropdown-toggle" role="button">
            Manage <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a (click)="onSaveData()" class="cursor">Save Data</a>
            </li>
            <li>
              <a (click)="onFetchData()" class="cursor">Fetch Data</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
