<h3 *ngIf="editMode">Edit "{{ recipe.name }}"</h3>
<h3 *ngIf="!editMode">New Recipe</h3>

<hr />

<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
  <!-- Buttons -->
  <div class="form-group">
    <button type="submit" class="btn btn-success">Save Recipe</button>
    <button type="button" class="btn btn-default" (click)="onCancel()">
      Cancel
    </button>
  </div>

  <!-- Name -->
  <div class="form-group">
    <label for="name">Recipe Name</label>
    <input type="text" class="form-control" id="name" formControlName="name" />
  </div>

  <!-- Image -->
  <div>
    <div class="form-group">
      <label for="imagePath">Image</label>
      <input
        type="text"
        class="form-control"
        id="imagePath"
        formControlName="imagePath"
      />
    </div>
    <div class="form-group">
      <img src="" alt="" />
    </div>
  </div>

  <!-- Description -->
  <div class="form-group">
    <label for="description">Recipe Description</label>
    <textarea
      id="description"
      rows="6"
      class="form-control"
      formControlName="description"
    ></textarea>
  </div>

  <!-- Ingredients -->
  <div class="form-group">
    <label for="">Ingredients</label>
    <div class="row">
      <div class="col-xs-8">
        <input type="text" class="form-control" placeholder="ingredient name" />
      </div>
      <div class="col-xs-2">
        <input type="text" class="form-control" placeholder="1" />
      </div>
      <div class="col-xs-2">
        <button class="btn btn-danger">x</button>
      </div>
    </div>
  </div>
</form>
