<h3 *ngIf="editMode">Edit "{{ recipe.name }}"</h3>
<h3 *ngIf="!editMode">New Recipe</h3>

<hr />

<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
  <!-- Buttons -->
  <div class="form-group">
    <button
      type="submit"
      class="btn btn-success"
      [disabled]="!recipeForm.valid"
    >
      Save Recipe
    </button>
    <button type="button" class="btn btn-default" (click)="onCancel()">
      Cancel
    </button>
  </div>

  <!-- Name -->
  <div class="form-group">
    <label for="name">Recipe Name</label>
    <input type="text" class="form-control" id="name" formControlName="name" />
  </div>

  <!-- Image -->
  <div>
    <div class="form-group">
      <label for="imagePath">Image</label>
      <input
        type="text"
        class="form-control"
        id="imagePath"
        formControlName="imagePath"
        #imagePath
      />
    </div>
    <div class="form-group">
      <img
        [src]="imagePath.value"
        alt="new recipe image"
        class="img-responsive img--article"
      />
    </div>
  </div>

  <!-- Description -->
  <div class="form-group">
    <label for="description">Recipe Description</label>
    <textarea
      id="description"
      rows="6"
      class="form-control"
      formControlName="description"
    ></textarea>
  </div>

  <!-- Ingredients -->
  <div class="form-group" formArrayName="ingredients">
    <label>Ingredients</label>
    <hr />
    <div
      class="form-group"
      *ngFor="let ingredientCtrl of controls; let i = index"
      [formGroupName]="i"
    >
      <div class="row">
        <div class="col-xs-8">
          <input
            type="text"
            class="form-control"
            placeholder="ingredient name"
            formControlName="name"
          />
        </div>
        <div class="col-xs-2">
          <input
            type="text"
            class="form-control"
            placeholder="1"
            formControlName="amount"
          />
        </div>
        <div class="col-xs-2">
          <button
            type="button"
            class="btn btn-danger"
            (click)="onDeleteIngredient(i)"
          >
            x
          </button>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-info" (click)="onAddIngredient()">
      Add ingredient
    </button>
  </div>
</form>
