<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <img
      src="{{ recipe.imagePath }}"
      alt=""
      class="img-responsive img--article"
    />
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle" appDropdownAlt>
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a (click)="onAddIngredientsToCart()" class="cursor"
            >Add ingredients to Cart</a
          >
        </li>
        <li>
          <a [routerLink]="['edit']">Edit Recipe</a>
        </li>
        <li>
          <a (click)="onDeleteRecipe()" class="cursor">Delete Recipe</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<h5>Description</h5>
<p>
  {{ recipe.description }}
</p>

<h5>Ingredients</h5>
<ul class="list-group">
  <li *ngFor="let ingredient of recipe.ingredients" class="list-group-item">
    {{ ingredient.name }} - {{ ingredient.amount }}
  </li>
</ul>
