<div>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="row">
      <div class="col-sm-5 form-group">
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          class="form-control"
          name="name"
          ngModel
          required
        />
      </div>
      <div class="col-sm-2 form-group">
        <label for="amount">Amount</label>
        <input
          type="number"
          id="amount"
          class="form-control"
          name="amount"
          ngModel
          required
          pattern="^[1-9]+[0-9]*$"
        />
        <!-- min and max parameters DO NOT work here, as you could still input -7 for example and it would submit -->
      </div>
    </div>

    <div>
      <button class="btn btn-success" type="submit" [disabled]="!f.valid">
        {{ editingMode ? 'Update' : 'Add' }}
      </button>
      <button
        class="btn btn-danger"
        type="button"
        (click)="onDeleteItem()"
        *ngIf="editingMode"
      >
        Delete
      </button>
      <button class="btn btn-default" type="button" (click)="onClear()">
        Clear
      </button>
    </div>
  </form>
</div>
